:root {
    --dark:rgb(8, 10, 70);
    --light: rgb(225, 112, 238);
    --height: 100px;
}

* {
    color: white;
    font-family:'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: var(--dark);
}

header {
    padding: 20px;
}

header h1 {
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    padding: 10px;
    padding-left: 30px;
    border: 3px;
    color: white;
    background-color: var(--light);
}

header nav {
    float: right;
}

header nav ul li {
    display: inline-block;
    font-size: 20px;
    list-style-type: none;
    padding: 10px;
}

img {
    width: 100%;
    height: 200px;
}

main {
    display: inline-block;
}

main section h2 {
    flex-direction: column;
    text-align: end;
    float: left;
    width: 350px;
    height: var(--height);
    padding: 20px;
    font-size: 3em;
    border-right: double thick var(--light);
}

main section p {
    float: right;
    align-items: right;
    padding-left: 20px;
    width: 900px;
    height: var(--height);
    padding: 20px;
}

main section a {
    float: right;
    display: inline-block;
    width: 200px

}

main section img {
    float: right;
    display: block;
    padding: 20px;
    width: 700px;
    height: 500px;
}

main section ul li {
    float: right;
    width: 900px;
    height: 20px;
}

