:root {
    --dark:rgb(8, 10, 70);
    --light: rgb(225, 112, 238);
}

* {
    color: white;
    font-family:'Courier New', Courier, monospace;
    background-color: var(--dark);
    padding: 0;
    margin: 0;
    border: 0;
}

header {
    display: flex;
    padding: 20px;
}

header h1 {
    flex-basis: 65%;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px;
    padding-left: 10px;
    border: 3px;
}

header nav ul li {
    display: inline-block;
    flex-basis: 35%;
    justify-content: end;
    font-size: 20px;
    list-style-type: none;
}

section {
    display: flex;
    flex-wrap: wrap;
}

main section h2 {
    display: flex;
    flex-basis: 25%;
    justify-content: end;
    }

main section div {
    display: flex;
    flex-basis: 75%;
}

main section div img {
    display: block;
    flex: 1 0 200px;
    max-width: 75%;
    justify-content: center;
}

main section div a {
    display: inline;
}

.horiseon {
    flex: 1 0 75%;
}

.contact-info {
    display: flex;
    flex-basis: 75%;
    justify-content: space-between;
    list-style-type: georgian;
    font-size: 1em;
}

footer {
    font-size: 0.2em;
    text-align: end;
}



